.About {
  --section-bg-color: hsl(228, 17%, 98%); 
  background-color: var(--section-bg-color);
  background-repeat: repeat-y;
  background-size: cover;
  color: var(--neutral-clr-00);
  min-height: 100vh;

  .ctn {
    padding: 6vh 0rem;

    display: grid;
    grid-auto-columns: repeat(4, 1fr);
    .founders {
      object-fit: cover;
      object-position: bottom;
      width: min(100%, 32rem);
      margin: auto;
      border-radius: 30px 30px 30px 20px / 32px 32px 0px 0px;
      @media screen and (min-width: 800px) {
        height: auto;
        width: 20rem;
      }
    }
     .emph{
        font-weight: 700;
        font-size: 1.15em;
      }

    .story-text {
      font-size: 1.333em;
      line-height: 125%;
      max-width: min(70ch, 100%);
      padding: 3em em;
      background-color:var(--section-bg-color);
      border-radius: 0.5rem;
      z-index: 30;
      margin: -10vh auto 0 auto;
      padding: 2em 1em;
    
    }
  }
}
