.Home {
  background: linear-gradient(0deg, hsla(214, 28%, 10%, 0.5), hsl(214, 28%, 10%, 0.5)),
    url("https://yusephinum-web-assets.s3.us-west-2.amazonaws.com/illustration_3.jpg");

  background-attachment: scroll;
  background-position: top right;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  section.hero-story {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100vw;
    margin: 0 1rem;
  }

  h1 {
    margin: auto;
    color: white;
    font-size: clamp(2em, 5vw, 4em);
    text-align: center;
    opacity: 0;
  }
  .link-ctn {
    --link-size: 10vw;
    display: grid;
    position: absolute;
    inset: 0% 0 0 0;
    grid-template-rows: repeat(3, minmax(1fr, var(--link-size)));
    grid-template-columns: repeat(3, minmax(1fr, var(--link-size)));
    max-width: 100vw;
    grid-template-areas:
      ". gallery ."
      "about . story"
      ".  lore . ";
    margin: auto;

    .planet-link > a {
      color: white;
      font-weight: 600;
      text-decoration: none;
      z-index: 3;
      font-size: clamp(1.25rem, 5vw, 2rem);
    }
    .planet-link {
      opacity: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: center;
      justify-self: center;
      position: relative;
      width: var(--link-size);
      height: var(--link-size);
      z-index: 3;
      &::after {
        content: "";
        background-image: url("https://yusephinum-web-assets.s3.us-west-2.amazonaws.com/sigil-white.svg");
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        inset: 0 0 0 0;
        width: calc(var(--link-size) - 0rem);
        height: calc(var(--link-size) - 0rem);
        border-radius: 50%;
        z-index: 2;
        transition: 200ms ease-in all;
      }
      &:hover,
      &:active {
        &::after {
          background-image: url("https://yusephinum-web-assets.s3.us-west-2.amazonaws.com/sigil-black.svg");
        }
      }
    }

    --text-offset: 50%;
    .about {
      grid-area: about;
      justify-self: flex-start;
      transform: translateX(var(--text-offset));
    }
    .gallery {
      grid-area: gallery;
      justify-self: center;
      align-self: flex-end;
    }
    .lore {
      grid-area: lore;
      align-self: flex-start;
    }
    .story {
      transform: translateX(calc(-1 * var(--text-offset)));
      grid-area: story;
      justify-self: flex-end;
    }
    @media screen and (min-width: 700px) {
      .lore,
      .gallery {
        align-self: center;
      }
      // --text-offset: -100%;
    }
    @media screen and (min-width: 900px) {
      .lore {
        align-self: flex-end;
      }
      .gallery {
        align-self: flex-start;
      }
      --text-offset: 2vw;

      .about {
        justify-self: flex-end;
      }
      .story {
        justify-self: flex-start;
      }
    }
  }

  .center-logo {
    opacity: 0;
    position: absolute;
    inset: 0% 0 0 0;
    max-width: 80vw;
    // min-height: 60vh;
    max-height: 60vh;
    width: auto;
    margin: auto;

    width: 18rem;

    @media screen and (min-width: 800px) {
      width: 100%;
    }
  }
}
