.Home {
  background: url("./../assets/home/illust_5_v003_BGOnly.png");
  background-attachment: scroll;
  background-position: top right;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
h1 {
  color: white;
  font-size: 4em;
  text-align: center;
}
