.Story {
  .story-ctn {
    display: grid;
    position: absolute;
    grid-template-rows: 100vh;
    top: 3rem;
    padding: 0;
  }
  .story-text {
    max-width: 55ch;
    margin: auto;
    font-size: 1.625rem;
    color: var(--neutral-clr-04);
    // height: 100vh;
    // &:nth-of-type(2),
    // &:nth-of-type(3) {
    //   opacity: 0;
    // }
  }
}
