.Header {
  padding: 1rem .5rem 1rem .5rem;
  background-color: var(--primary-clr);
  background-color: rgb(6, 5, 5);
  display: flex;
  z-index: 3;
  align-items: center;
  justify-content: center;
  img {
    // margin: auto;
    height: 1.5rem;
    width: auto;
  }
}
